<h3>Create Diagnosis</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #diagnosisform="ngForm"> 
    <div class="form-group">
      <label for="patientId">Patient Id</label>
      <input type="text" class="form-control" id="patientId" required [(ngModel)]="diagnosis.patientId"
       name="patientId" #patientId="ngModel" [class.is-invalid]="patientId.invalid && patientId.touched" >
       <div *ngIf="patientId.errors && (patientId.invalid || patientId.touched)">
       <small class="text-danger" *ngIf="patientId.errors.required">Patient Id is required</small>            
        </div>
      </div>

      <div class="form-group">
        <label for="name">Patient Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="diagnosis.name" 
        name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Patient Name is required</small>
      </div>

      <div class="form-group">
        <label for="administeredBy">Administered By</label>
        <input type="text" class="form-control" id="administeredBy" required [(ngModel)]="diagnosis.administeredBy" 
        name="administeredBy" #administeredBy="ngModel" [class.is-invalid]="administeredBy.invalid && administeredBy.touched">
        <small class="text-danger" [class.d-none]="administeredBy.valid || administeredBy.untouched">Administered By required</small>
      </div>
 
      <div class="form-group">
        <label for="billAmount">BillAmount</label>
        <input type="text" class="form-control" id="billAmount" required [(ngModel)]="diagnosis.billAmount"
         name="billAmount" #billAmount="ngModel" [class.is-invalid]="billAmount.invalid && billAmount.touched" >
         <div *ngIf="billAmount.errors && (billAmount.invalid || billAmount.touched)">
         <small class="text-danger" *ngIf="billAmount.errors.required">Bill Amount is required</small>            
          </div>
        </div>

    <div class="form-group">
        <label>PaymentMode</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMode" value="CARD" [(ngModel)]="diagnosis.paymentMode"
           #paymentMode="ngModel" required > 
          <label class="form-check-label">CARD</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMode" value="CASH" [(ngModel)]="diagnosis.paymentMode" 
          #paymentMode="ngModel" required>
          <label class="form-check-label">CASH</label>
        </div>
        <div *ngIf="paymentMode.invalid && paymentMode.untouched" class="text-danger"> 
          Payment Mode is required
       </div>
      </div>
 
      <button type="submit" class="btn btn-success" [disabled]="diagnosisform.form.invalid">Submit</button>
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newDiagnosis()">Create</button>
  </div>
  