<h3>Find By Disease Name</h3>
<div style="width: 300px;" class="sform">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="diseaseName">Disease Name</label>
      <select input type="text" class="form-control" id="diseaseName" required [(ngModel)]="diseaseName" name="diseaseName">
       <option value="Heart Stroke">Heart Stroke</option>
        <option value="Liver Damage">Liver Damage</option>
        <option value="Skin Infection">Skin Infection</option>
        <option value="Nervous Problems">Nervous Problems</option>
        <option value="Dialysis">Dialysis</option>
        <option value="Cancer">Cancer</option>
        <option value="Eye Problems">Eye Problems</option> 
        </select>
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<br/>
<div>

    <div [hidden]="!submitted">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Disease Name</th>
                  <th>Phone</th>
                  <th>Gender</th>
                </tr>
              </thead>
        <tbody>
          <tr *ngFor="let patient of patients ">
            <td>{{patient.id}}</td>
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.diseaseName}}</td>
            <td>{{patient.phone}}</td>
            <td>{{patient.phone}}</td>
          </tr>
        </tbody>
        </table>
        </div>
        </div>

