<h3>List of Physicians</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Physician Id</th>
      <th>First Name</th>
      <th>LastName</th>
      <th>Department</th>
      <th>Qualification</th>
      <th>Years Of Experience</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let physician of physicians | async">
        <td>{{physician.id}}</td>
        <td>{{physician.firstName}}</td>
        <td>{{physician.lastName}}</td>
        <td>{{physician.department}}</td>
        <td>{{physician.qualification}}</td>
        <td>{{physician.yearsOfExperience}}</td>
       <td><span class="button is-small btn-info" (click)="editPhysician(physician)">Edit</span> 
        <span class="button is-small btn-info" (click)="deletePhysician(physician)">Delete</span></td>
    </tr>
  </tbody>
</table>