<form class="uform" (ngSubmit)="onUpdate()">
 
  <div class="form-group">
      <label for="id">Patient Id</label>
      <input type="text" class="form-control" id="id"  [(ngModel)]="patient.id" name="id" readonly>
    </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName"  [(ngModel)]="patient.firstName" name="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName"  [(ngModel)]="patient.lastName" name="lastName">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age"  [(ngModel)]="patient.age" name="age">
  </div>

  <div class="form-group">
    <label for="diseaseName">Disease Name</label>
    <select input type="text" class="form-control" id="diseaseName" [(ngModel)]="patient.diseaseName" name="diseaseName" >
       <option value="Heart Stroke">Heart Stroke</option>
        <option value="Liver Damage">Liver Damage</option>
        <option value="Skin Infection">Skin Infection</option>
        <option value="Nervous Problems">Nervous Problems</option>
        <option value="Dialysis">Dialysis</option>
        <option value="Cancer">Cancer</option>
        <option value="Eye Problems">Eye Problems</option> 
        </select>
  </div>

  <div class="form-group">
    <label >Phone</label>
    <input type="tel" class="form-control" id="phone" [(ngModel)]="patient.phone" name="phone" >
   </div>

  <div class="form-group">
      <label>Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="patient.gender">
        <label class="form-check-label">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="patient.gender">
        <label class="form-check-label">Female</label>
      </div>
    </div>

  <button type="submit" class="btn btn-success">Update</button>
</form>

