<h3>List of Patient Diagnosis</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Diagnosis Id</th>
      <th>Patient Id</th>
      <th>Patient Name</th>
      <th>Administered By</th>
      <th>Bill Amount</th>
      <th>Payment Mode</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let diagnosis of diagnosiss | async">
       <td>{{diagnosis.id}}</td>
       <td>{{diagnosis.patientId}}</td>
       <td>{{diagnosis.name}}</td>
       <td>{{diagnosis.administeredBy}}</td>
       <td>{{diagnosis.billAmount}}</td>
       <td>{{diagnosis.paymentMode}}</td>
       <td><span class="button is-small btn-info" (click)="editingDiagnosis(diagnosis)">Edit</span> 
        <span class="button is-small btn-info" (click)="deleteDiagnosis(diagnosis)">Delete</span></td>
    </tr>
  </tbody>
</table>
