<form class="uform" (ngSubmit)="onUpdate()">
 
    <div class="form-group">
        <label for="id">Diagnosis Id</label>
        <input type="text" class="form-control" id="id"  [(ngModel)]="diagnosis.id" name="id" readonly>
      </div>

      <div class="form-group">
        <label for="patientId">patientId</label>
        <input type="text" class="form-control" id="patientId"  [(ngModel)]="diagnosis.patientId" name="patientId">
      </div>

    <div class="form-group">
        <label for="name">Patient Name</label>
        <input type="text" class="form-control" id="name"  [(ngModel)]="diagnosis.name" name="name">
      </div>

      <div class="form-group">
        <label for="administeredBy">Administered By</label>
        <input type="text" class="form-control" id="administeredBy"  [(ngModel)]="diagnosis.administeredBy" name="administeredBy">
      </div>

      <div class="form-group">
        <label for="billAmount">BillAmount</label>
        <input type="text" class="form-control" id="billAmount"  [(ngModel)]="diagnosis.billAmount" name="billAmount">
      </div>

      <div class="form-group">
        <label>PaymentMode</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMode" value="CARD" [(ngModel)]="diagnosis.paymentMode">
          <label class="form-check-label">CARD</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMode" value="CASH" [(ngModel)]="diagnosis.paymentMode">
          <label class="form-check-label">CASH</label>
        </div>
      </div>
 
    <button type="submit" class="btn btn-success">Update</button>
  </form>