<h3>List of Patients</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Patient Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Disease Name</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients | async">
       <td>{{patient.id}}</td>
       <td>{{patient.firstName}}</td>
       <td>{{patient.lastName}}</td>
       <td>{{patient.age}}</td>
       <td>{{patient.diseaseName}}</td>
       <td>{{patient.phone}}</td>
       <td>{{patient.gender}}</td>
       <td><span class="button is-small btn-info" (click)="updatePatient(patient)">Update</span> 
        <span class="button is-small btn-info" (click)="deletePatient(patient)">Delete</span></td>
    </tr>
  </tbody>
</table>