<h3>Enroll Patient</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #patientform="ngForm">
    
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="patient.firstName" 
      name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
    </div>
 
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="patient.lastName" 
      name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="patient.age"
       name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched" pattern="^\d{2}$">
      <div *ngIf="age.errors && (age.invalid || age.touched)">
        <small class="text-danger" *ngIf="age.errors.required">Age is required</small>      
        <small class="text-danger" *ngIf="age.errors.pattern">Age must be two digits</small>      
      </div>
    </div>

    <div class="form-group">
      <label for="diseaseName">Disease Name</label>
      <select input type="text" class="form-control" id="diseaseName" required [(ngModel)]="patient.diseaseName" 
      name="diseaseName" #diseaseName="ngModel" [class.is-invalid]="diseaseName.invalid && diseaseName.touched">
        <option value="Heart Stroke">Heart Stroke</option>
        <option value="Liver Damage">Liver Damage</option>
        <option value="Skin Infection">Skin Infection</option>
        <option value="Nervous Problems">Nervous Problems</option>
        <option value="Dialysis">Dialysis</option>
        <option value="Cancer">Cancer</option>
        <option value="Eye Problems">Eye Problems</option> 
        </select>
      <small class="text-danger" [class.d-none]="diseaseName.valid || diseaseName.untouched">Disease Name is required</small>
    </div>
 
    <div class="form-group">
      <label >Phone</label>
      <input type="tel" class="form-control" id="phone" required [(ngModel)]="patient.phone" name="phone" #phone="ngModel" 
      pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched">
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
         <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>      
         <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>      
       </div>
  </div>

    <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="patient.gender"
           #gender="ngModel" required > 
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="patient.gender" 
          #gender="ngModel" required>
          <label class="form-check-label">Female</label>
        </div>
        <div *ngIf="gender.invalid && gender.untouched" class="text-danger"> 
          Gender is required
       </div>
      </div>
 
    <button type="submit" class="btn btn-success" [disabled]="patientform.form.invalid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPatient()">Enroll</button>
</div>

