<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand">Hospital</a></div>
 
      <!-- <ul class="navbar-nav">
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="add" class="nav-link"  routerLinkActive="active">Add Physician</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="physician" class="nav-link" routerLinkActive="active">View Physicians</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="search" class="nav-link" routerLinkActive="active">Search Physicians</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="enroll" class="nav-link" routerLinkActive="active">Enroll Patient</a></li>
            <li> <a *ngIf="loginService.isUserLoggedIn()" routerLink="patient" class="nav-link" routerLinkActive="active">View Patients</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li><span *ngIf="loginService.isUserLoggedIn()" class="navbar-text text-primary">
                Welcome {{loginService.uname}}</span></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul> --> 
    
       <ul class="navbar-nav">
            
            <li> <a routerLink="add" class="nav-link"  routerLinkActive="active">Add Physician</a></li>
            <li> <a routerLink="physician" class="nav-link" routerLinkActive="active">View Physicians</a></li>
            <li> <a routerLink="search" class="nav-link" routerLinkActive="active">Search Physicians</a></li>
            <li> <a routerLink="enroll" class="nav-link" routerLinkActive="active">Enroll Patient</a></li>
            <li> <a routerLink="patient" class="nav-link" routerLinkActive="active">View Patients</a></li>
            <li> <a routerLink="searching" class="nav-link" routerLinkActive="active">Search Patients</a></li>
            <li> <a routerLink="create" class="nav-link" routerLinkActive="active">Create Diagnosis</a></li>
            <li> <a routerLink="diagnosis" class="nav-link" routerLinkActive="active">View Diagnosis</a></li>
        </ul>  
    </nav>
</header>