<h3>Create Physician</h3>
<div [hidden]="submitted" style="width: 500px;" class="cform">
  <form (ngSubmit)="onSubmit()" #physicianform="ngForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="physician.firstName" 
      name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
    </div>
 
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="physician.lastName" 
      name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
      <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
    </div>


    <div class="form-group">
      <label for="department">Department</label>
      <select input type="text" class="form-control" id="department" required [(ngModel)]="physician.department" 
      name="department" #department="ngModel" [class.is-invalid]="department.invalid && department.touched">        
      <option value="Cardiology">Cardiology</option>
      <option value="Hepatology">Hepatology</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Neurology">Neurology</option>
      <option value="Nephrology">Nephrology</option>
      <option value="Oncology">Oncology</option>
      <option value="Ophthalmology">Ophthalmology</option> 
      </select>  
      <small class="text-danger" [class.d-none]="department.valid || department.untouched">Department is required</small>
    </div>

    <div class="form-group">
      <label for="qualification">Qualification</label>
      <select input type="text" class="form-control" id="qualification" required [(ngModel)]="physician.qualification" 
      name="qualification" #qualification="ngModel" [class.is-invalid]="qualification.invalid && qualification.touched">
      <option value="Ph.d">Ph.d</option>
      <option value="MS">MS</option>
      <option value="MD">MD</option> 
      <option value="M.B.B.S">M.B.B.S</option>      
      </select>
      <small class="text-danger" [class.d-none]="qualification.valid || qualification.untouched">Qualification is required</small>
    </div>


    <div class="form-group">
      <label for="yearsOfExperience">Years Of Experience</label>
      <input type="text" class="form-control" id="yearsOfExperience" required [(ngModel)]="physician.yearsOfExperience"
       name="yearsOfExperience" #yearsOfExperience="ngModel" [class.is-invalid]="yearsOfExperience.invalid && yearsOfExperience.touched">
      <div *ngIf="yearsOfExperience.errors && (yearsOfExperience.invalid || yearsOfExperience.touched)">
        <small class="text-danger" *ngIf="yearsOfExperience.errors.required">Years Of Experience is required</small>           
      </div>
    </div>
 
   
 
    <button type="submit" class="btn btn-success" [disabled]="physicianform.form.invalid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPhysician()">Add</button>
</div>


