<h3>Find By Department</h3>
<div style="width: 300px;" class="sform">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="department">Department</label>
      <select input type="text" class="form-control" id="department" required [(ngModel)]="department" name="department">
      <option value="Cardiology">Cardiology</option>
      <option value="Hepatology">Hepatology</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Neurology">Neurology</option>
      <option value="Nephrology">Nephrology</option>
      <option value="Oncology">Oncology</option>
      <option value="Ophthalmology">Ophthalmology</option> 
      </select> 
    </div>
 
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<br/>
<div>

    <div [hidden]="!submitted">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Physician ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Department</th>
                  <th>Qualification</th>
                  <th>Years Of Experience</th>
                </tr>
              </thead>
        <tbody>
          <tr *ngFor="let physician of physicians ">
            <td>{{physician.id}}</td>
            <td>{{physician.firstName}}</td>
            <td>{{physician.lastName}}</td>
            <td>{{physician.department}}</td>
            <td>{{physician.qualification}}</td>
            <td>{{physician.yearsOfExperience}}</td>
          </tr>
        </tbody>
        </table>
        </div>
        </div>
