<form class="uform" (ngSubmit)="onUpdate()">

    <div class="form-group">
        <label for="physicianId">Physician Id</label>
        <input type="text" class="form-control" id="id" [(ngModel)]="physician.id" name="id" readonly>
      </div>
 
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="physician.firstName" name="firstName">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="physician.lastName" name="lastName">
      </div>
 
      <div class="form-group">
        <label for="department">Department</label>
        <select input type="text" class="form-control" id="department" [(ngModel)]="physician.department" name="department">
        <option value="Cardiology">Cardiology</option>
        <option value="Hepatology">Hepatology</option>
        <option value="Dermatology">Dermatology</option>
        <option value="Neurology">Neurology</option>
        <option value="Nephrology">Nephrology</option>
        <option value="Oncology">Oncology</option>
        <option value="Ophthalmology">Ophthalmology</option> 
        </select> 
      </div>

      <div class="form-group">
        <label for="qualification">Qualification</label>
        <select input type="text" class="form-control" id="qualification" [(ngModel)]="physician.qualification" name="qualification">
        <option value="Ph.d">Ph.d</option>
        <option value="MS">MS</option>
        <option value="MD">MD</option> 
        <option value="M.B.B.S">M.B.B.S</option>
        </select>
      </div>

    <div class="form-group">
      <label for="yearsOfExperience">Years Of Experience</label>
      <input type="text" class="form-control" id="yearsOfExperience" [(ngModel)]="physician.yearsOfExperience" name="yearsOfExperience">
    </div>
 
    <button type="submit" class="btn btn-success">Update</button>
</form>
